.Header {
    /*max-width: 1280px;*/
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cbcbcb; /* Параметры линии */
}

.Home{
    padding: 3px 30px;
    cursor: pointer;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /*margin-bottom: 8px;*/

}

.Login{
    padding: 3px 20px;
    cursor: pointer;
    font: inherit;
    border-radius: 8px;
    background: #8181f4;
    color: #ffffff;
    border: none;
}

.Login:hover{
    transition:  1s, color 1s;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    border: none;
}

