.Pagination {
    width: 100%;
    text-align: center;

}
.Btn{
    display: flex;
}

.Before{
    width: 50%;
    padding: 3px 25px;
    margin: 5px;
    cursor: pointer;
    background: #3f7da4;
    color: white;
    border: 0;
}

.After{
    width: 50%;
    padding: 3px 25px;
    margin: 5px;
    cursor: pointer;
    background: #009dff;
    color: white;
    border: 0;
}


.PageNumber{
    width: 100%;
    margin: 10px;
}
